{% extends "base.html" %}

{% block content %}
    <h1>Upload a File!</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST" action="" enctype="multipart/form-data">
        <div class="form-group mb-4">
            <input type="file" class="form-control mw-100" name="file">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}