{% extends "base.html" %}

{% block content %}
    <h1>Upload a File!</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <p>Large files can take longer time to process. If it takes the server over 2 minutes to process, then it's probably too large.</p>
    <form method="POST" action="" enctype="multipart/form-data">
        <div class="form-group mb-4">
            <input type="file" class="form-control mw-100" name="file"data-bs-toggle="tooltip" title="PNG or JPG files only. 2MB file size limit.">
        </div>
        <button type="submit" class="btn btn-primary" data-bs-toggle="tooltip" title="Upload the image to start modifying parameters.">Submit</button>
    </form>

{% endblock %}